<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.today.story.mapper.UserMapper">
    <select id="findUserByUsername" resultType="com.today.story.dto.UserDto">
        SELECT idx, user_id, nickname, password, role
        FROM SYS_USER_CD
        WHERE user_id = #{user_id}
    </select>

    <select id="findByUserId" resultType="com.today.story.dto.UserDto">
        SELECT idx, user_id, nickname, password, role, email
        FROM SYS_USER_CD
        WHERE user_id = #{user_id}
    </select>
    
    <insert id="save" parameterType="com.today.story.dto.UserDto">
        INSERT INTO SYS_USER_CD (USER_ID,NICKNAME, PASSWORD,REG_DATE)
        VALUES (#{user_id}, #{nickname}, #{password} ,GETDATE())
    </insert>

    <select id="userNameGet" resultType="com.today.story.dto.UserDto">
        SELECT user_id, nickname
        FROM SYS_USER_CD
        WHERE user_id = #{user_id}
    </select>
</mapper>